// ConsumerAffairs - Form

@import 'variables';

.form-group {
  margin-bottom: 1.25em;
  .form-group__label {
    letter-spacing: 0.2px;
    font-size: 0.875em;
    color: $gray-400;
    font-weight: bold;
    line-height: 1.8;
  }
}
.form-control {
  border-radius: 4px;
  padding: 0.8125em 1.5625em;
  border: 1px solid $gray-200;
  font-size: 1em;
  width: 100%;
  transition: all 300ms ease-out;
  transition-property: box-shadow, border-color;
  &:focus {
    border-radius: 4px;
    box-shadow: 0 0 4px 0 rgba(62, 61, 63, 0.62);
    border-color: $gray-400;
    outline: none;
  }
}

.form-group__prefix {
  position: relative;
  .form-prefix {
    position: absolute;
    top: 50%;
    margin-top: -0.6em;
    left: 1em;
  }
  .form-control {
    padding-left: 2.2em;
  }
}

.form-group__range {
  display: flex;
  align-items: center;
  .range {
    width: 80%;
    padding: 0 1em;
  }
  .range-value {
    opacity: 0.5;
    &:first-child {
      min-width: 1.2em;
    }
  }
  .form-control {
    width: 20%;
    margin-left: 1em;
    padding: 0.8125em 0.5em;
    text-align: center;
  }
}
